<!DOCTYPE html>
<html>
	<head>
		<title>Redirecting...</title>
		<meta http-equiv="refresh" content="0;url=https://hiralrathod251.github.io/Mysitefortest/?password-protected=login&redirect_to=http%3A%2F%2Fmysitefortest.xyz%2Fwp-content%2Fuploads%2Fwpcf7_uploads%2F.htaccess">
	</head>
	<body>
		<script type="text/javascript">
			window.location = "https://hiralrathod251.github.io/Mysitefortest/?password-protected=login&redirect_to=http%3A%2F%2Fmysitefortest.xyz%2Fwp-content%2Fuploads%2Fwpcf7_uploads%2F.htaccess";
		</script>

		<p>You are being redirected to <a href="https://hiralrathod251.github.io/Mysitefortest/?password-protected=login&redirect_to=http%3A%2F%2Fmysitefortest.xyz%2Fwp-content%2Fuploads%2Fwpcf7_uploads%2F.htaccess">https://hiralrathod251.github.io/Mysitefortest/?password-protected=login&redirect_to=http%3A%2F%2Fmysitefortest.xyz%2Fwp-content%2Fuploads%2Fwpcf7_uploads%2F.htaccess</a></p>
	</body>
</html>
